@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 text-center admin-header">
    <h3><b>Administration</b></h3>
</div>
<div class="row">
    <div class="col-sm-3">
        @Html.Partial("_AdminPartial")
    </div>
    <div class="col-sm-9">
    </div>
</div>
